* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #24273a;
}

#calculator {
  height: 570px;
  width: 360px;
  background-color: #5b6078;
  border: 1px solid #181926;
  border-radius: 5px;
  padding: 5px;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
  background-color: #cad3f5;
  font-family: monospace;
  text-align: right;
  user-select: none;
}

#main-screen {
  font-size: 70px;
  height: 70px;
  margin: 0px 5px 10px 5px;
}

#secondary-screen {
  font-size: 20px;
  height: 25px;
  margin: 10px 5px 0px 5px;
}

#buttons,
#numbers {
  display: flex;
  flex-wrap: wrap;
}

button {
  height: 80px;
  width: 80px;
  margin: 5px;
  border: none;
  background-color: #cad3f5;
  border-radius: 5px;
}

button:hover {
  background-color: #939ab7;
  color: #eff1f5;
}

.btn-horizontal {
  flex-grow: 2;
}

#btn-clear-global {
  background-color: #e78284;
}

#btn-clear-global:hover {
  background-color: #f38ba8;
}
