* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  height: 570px;
  width: 360px;
  border-radius: 5px;
  padding: 5px;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
  font-family: monospace;
  text-align: right;
  user-select: none;
}

#main-screen {
  font-size: 70px;
  height: 70px;
  margin: 0px 5px 10px 5px;
}

#secondary-screen {
  font-size: 20px;
  height: 25px;
  margin: 10px 5px 0px 5px;
}

#buttons, 
#numbers {
  display: flex;
  flex-wrap: wrap;
}

button {
  height: 80px;
  width: 80px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.btn-horizontal {
  flex-grow: 2;
}