* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  height: 570px;
  width: 360px;
  border-radius: 5px;
  padding: 5px;
}